    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    backdrop-filter: blur(4px);
}
html{
    height: 100%;
}
body{
    background: url("../img/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #0a0a0a;
    line-height: 1.6;
    backdrop-filter: blur(50%);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-all{
    width: 50%;
    height: 60%;
    max-width: 70%;
    margin: auto;
    margin-top: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
}
.titulo{
    text-align: center;
    font-weight: 300;
    margin-top: 15px;
    color: black;
}

input[type="text"],
input[type="password"]{
    width: 100%;
    height: 30px;
    background: rgba(0, 0, 0, 0);
    border: 0px;
    outline: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    color: #0a0a0a;;
    font-size: 16px;
}
.usuario{
    margin-top: 10px;
    margin-bottom:11px;
}
.inputPasword{
    margin-bottom: 10px;
}
/*cambiar la opacidad del ojo*/
.contOjo{
    position: relative;
    height: 40px;
    left: 350px;
    opacity: 0.3;
    cursor: pointer;
    transform: translateY(-40px);
}

#ojo:hover{
    opacity: 0.8;
} 

.cont-form{
    width: 100%;
    padding: 40px;
    background: #fff;
}

.inputs{
    outline: none;
    padding: 20px;
    display: block;
    width: 300px;
    border-radius: 3px;
    border: 1px solid #eee;
    margin: 20px auto;
}

input[type="submit"]{
    padding: 10px;
    color: #fff;
    background: #5db85d;
    width: 320px;
    margin: 20px auto;
    margin-top: 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #00b8eb;
    cursor: pointer;
}

/*estilos del texto para ir al login*/
.text-footer {
    display: block;
    text-align: center;
    font-weight: 300;
    margin-top: 20px;
}

.text-footer a {
    font-weight: 500;
    cursor: pointer;
}


/*TEXTO DE ERROR EN LA VALIDACION EN PHP*/
.msg-error{
    color: red;
    display: block;
    margin-top: 10px;
}

/* RESPONSIVE */
@media screen and (max-width: 1014px) {

    .ctn-text {
        display: none;
    }

    .ctn-form {
        margin: auto;
        width: 100%;
        background: white;
    }
    
}

/*estilos cambio de clave*/
